@import url("https://use.typekit.net/eur0zzn.css");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.app {
  --primary-color: #00a1c2;
  --red: #d22700;
  --green: #0b910b;
  --blue: #0529b8;
  --color: #191a1b;
  --background-color: #ffffff;
  --box-shadow__color: #0000001a;
  --a__color: #4d4d4d;
  --a__color--active: black;
  --button__color: #353535;
  --button__background-color: lightGray;
  --button__border-color: gray;
}

.app.dark {
  --primary-color: #00a1c2;
  --red: #f7382b;
  --green: #2daf21;
  --blue: #2744ec;
  --color: #e9e9e9;
  --background-color: #191a1b;
  --box-shadow__color: #00000080;
  --a__color: #e6e6e6;
  --a__color--active: white;
  --button__color: #353535;
  --button__background-color: darkGray;
  --button__border-color: gray;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 1.75;
}

.app {
  color: var(--color);
  background-color: var(--background-color);
}

html {
  font-size: 16px;
}

/*16px*/
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  margin: 3rem 0 1.38rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

p {
  line-height: 1.6;
}

h1,
.h1 {
  margin-top: 0;
  font-size: 2.488rem;
}

h2,
.h2 {
  font-size: 2.074rem;
}

h3,
.h3 {
  font-size: 1.728rem;
}

h4,
.h4 {
  font-size: 1.44rem;
}

h5,
.h5 {
  font-size: 1.2rem;
}

p,
.p {
  margin-bottom: 1rem;
}

small,
.text_small {
  font-size: 0.833rem;
}

@media (min-width: 768px) {
  h1,
.h1 {
    margin-top: 0;
    font-size: 3.052rem;
  }

  h2,
.h2 {
    font-size: 2.441rem;
  }

  h3,
.h3 {
    font-size: 1.953rem;
  }

  h4,
.h4 {
    font-size: 1.563rem;
  }

  h5,
.h5 {
    font-size: 1.25rem;
  }

  p,
.p {
    margin-bottom: 1rem;
  }

  small,
.text_small {
    font-size: 0.8rem;
  }
}
a {
  color: var(--a__color);
  text-decoration: none;
}
a.active {
  color: var(--primary-color);
}
a:active, a:hover {
  color: var(--a__color--active);
}

.main-header {
  background-color: var(--background-color);
  position: fixed;
  width: 100%;
  font-size: 28px;
  padding: 0.5em 0;
  transition: all 0.25s ease-in-out;
  z-index: 300;
  touch-action: manipulation;
}
.main-header--scroll {
  top: 0;
  box-shadow: 0 0 20px var(--box-shadow__color);
  font-size: 22px;
}
.main-header--scroll .icon {
  width: 20px;
  height: 20px;
  transition: all 0.25s ease-in-out;
}
.main-header__wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 0 1em;
  display: flex;
  place-content: space-between;
  align-items: baseline;
}
.main-header__logo {
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: 800;
}
.main-header__logo:hover, .main-header__logo:active {
  color: var(--primary-color);
}
.main-header__nav {
  display: flex;
  align-items: center;
}
.main-header__nav > * {
  margin-left: 1em;
}
.main-header .switch {
  place-self: center;
}
.main-header .switch input:checked + .slider {
  background-color: var(--a__background-color);
}

.header__pseudo {
  height: 100px;
  display: block;
}

.about {
  padding: 0 3em;
  min-height: 80vh;
}

.profile {
  max-width: 1040px;
  margin: 0 auto;
  display: grid;
}
@media (min-width: 768px) {
  .profile {
    padding: 3em;
    justify-content: left;
    grid-gap: 0 20px;
    grid-template-columns: minmax(300px, 0.5fr) auto;
    grid-template-rows: 1fr repeat(3, min-content) 1fr;
  }
}
.profile img {
  width: 100%;
  place-self: center;
  height: intrinsic;
}
@media (min-width: 768px) {
  .profile img {
    grid-row: 1/6;
  }
}
.profile h1 {
  grid-row: 1/2;
  margin: 0;
}
@media (min-width: 768px) {
  .profile h1 {
    grid-row: 2/3;
  }
}
.profile h2 {
  grid-row: 2/3;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .profile h2 {
    grid-row: 3/4;
  }
}
.profile h2 a {
  color: var(--color);
  text-decoration: underline;
  text-decoration-thickness: 4px;
}
.profile h2 a:nth-child(1) {
  text-decoration-color: var(--red);
}
.profile h2 a:nth-child(1):hover {
  color: var(--red);
}
.profile h2 a:nth-child(2) {
  text-decoration-color: var(--green);
}
.profile h2 a:nth-child(2):hover {
  color: var(--green);
}
.profile h2 a:nth-child(3) {
  text-decoration-color: var(--blue);
}
.profile h2 a:nth-child(3):hover {
  color: var(--blue);
}
.profile p {
  grid-row: 4/5;
  font-size: 1.5em;
  max-width: 550px;
}

.footer {
  width: 100%;
  box-shadow: 0 0 20px var(--box-shadow__color);
  z-index: 300;
  margin-top: 3em;
}
.footer__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
}

.project-index__title {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.project-index__grid {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2em;
  display: grid;
  grid-gap: 2em;
}
@media screen and (min-width: 600px) {
  .project-index__grid {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}

.project-preview {
  display: grid;
  align-items: center;
  overflow: hidden;
  border-radius: 4px;
  transition: 0.25s ease-in-out;
}
.project-preview__img {
  grid-area: 1/1/2/2;
  display: grid;
}
.project-preview img {
  min-width: 100%;
  place-self: center;
  z-index: 1;
}
.project-preview:hover img {
  filter: grayscale(100%) brightness(30%);
}
.project-preview:hover .project-preview__text {
  display: block;
}
.project-preview__text {
  place-self: center;
  z-index: 2;
  padding: 0 1em;
}
@media screen and (min-width: 600px) {
  .project-preview__text {
    display: none;
    grid-area: 1/1/2/2;
    padding: 0 3em;
    color: #d3d3d3;
  }
}
.project-preview h3 {
  font-size: 2em;
  text-align: center;
}
@media screen and (max-width: 599px) {
  .project-preview h3 {
    margin: 0.5em;
  }
}
.project-preview__tags {
  display: flex;
  flex-wrap: wrap;
}
.project-preview__tags a {
  text-transform: uppercase;
  margin-right: 0.5em;
  background: #d3d3d3;
  line-height: 1;
  padding: 3px 8px;
  border-radius: 3px;
  font-size: 0.7em;
  color: #101c2e;
  font-weight: 700;
}

.icon {
  fill: currentColor;
  display: inline-block;
  vertical-align: middle;
}

.icon {
  width: 24px;
  height: 24px;
}

.btn,
button {
  display: inline-block;
  border-radius: 5px;
  font-family: inherit;
  width: auto;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  font-size: 1.2rem;
  line-height: 1;
  touch-action: manipulation;
  background-image: none;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  padding: 5px 12px;
}
.btn:active, .btn:focus, .btn:hover,
button:active,
button:focus,
button:hover {
  outline: none;
  box-shadow: 0 3px 10px var(--box-shadow__color);
}

.btn--outline {
  border-style: solid;
  border-width: 1px;
  background-color: transparent;
}
.btn--outline.btn--primary {
  border-color: var(--primary-color);
  color: var(--primary-color);
}
.btn--outline.btn--default {
  border-color: var(--a__color);
  color: var(--a__color);
}
.btn--outline.btn--default:hover, .btn--outline.btn--default:focus, .btn--outline.btn--default:active {
  border-color: var(--a__color--active);
  color: var(--a__color--active);
  box-shadow: none;
}

.btn--link {
  border-color: transparent;
  border-width: 0px;
  background-color: transparent;
  padding: 0;
  line-height: inherit;
  color: var(--primary-color);
  font-size: inherit;
}
.btn--link:hover {
  text-decoration: underline;
  box-shadow: none;
}

.btn--sm {
  padding: 2px 5px;
}

.btn--icon {
  padding: 3px;
  line-height: 0;
}

.btn--block {
  width: 100%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 18px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-color);
  transition: 0.4s;
  border-width: 1px;
  border-color: var(--a__color);
  border-style: solid;
  border-radius: 9px;
}
.switch .slider:before {
  position: absolute;
  content: "";
  border-radius: 6px;
  height: 12px;
  width: 12px;
  left: 2px;
  bottom: 2px;
  background-color: var(--a__color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.switch input:checked + .slider {
  background-color: var(--a__color--active);
}
.switch input:checked + .slider:before {
  left: 18px;
}

.resume {
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (min-width: 600px) {
  .resume {
    display: grid;
    grid-template-columns: 250px 1fr 1fr;
    grid-gap: 0 20px;
  }
}
.resume h3 {
  font-size: 2em;
  font-weight: 400;
  font-family: serif;
  margin: 0;
  margin-top: 0.5em;
}
.resume h4 {
  margin: 0;
  margin-top: 0.5em;
}
.resume__row {
  display: flex;
}
.resume__row h5,
.resume__row p {
  margin: 0;
  line-height: 1.2;
  font-size: 1em;
  font-weight: 400;
}
.resume__row p {
  font-style: italic;
}
.resume__row p::before {
  content: "-";
  margin: 0 1em;
}
.resume__list {
  margin-right: 1em;
}
.resume__description {
  margin: 0.25em 0;
}

/*# sourceMappingURL=abacus.css.map */
