.about {
  padding: 0 3em;
  min-height: 80vh;
}

.profile {
  max-width: 1040px;
  margin: 0 auto;
  display: grid;

  @include md {
    padding: 3em;
    justify-content: left;
    grid-gap: 0 20px;

    grid-template-columns: minmax(300px, 0.5fr) auto;;
    grid-template-rows: 1fr repeat(3, min-content) 1fr;
  }

  img {
    width: 100%;
    place-self: center;
    height: intrinsic;
    //intrinsic for safari

    @include md {
      grid-row: 1/6;
    }
  }

  h1 {
    grid-row: 1/2;
    margin: 0;
    @include md {
      grid-row: 2/3;
    }
  }

  h2 {
    grid-row: 2/3;
    line-height: 1.2;
    @include md {
      grid-row: 3/4;
    }
    a {
      color: var(--color);
      text-decoration: underline;
      text-decoration-thickness: 4px;

      &:nth-child(1) {
        text-decoration-color: var(--red);
        &:hover {
          color: var(--red);
        }
      }
      &:nth-child(2) {
        text-decoration-color: var(--green);
        &:hover {
          color: var(--green);
        }
      }
      &:nth-child(3) {
        text-decoration-color: var(--blue);
        &:hover {
          color: var(--blue);
        }
      }
    }
  }
  p {
    grid-row: 4/5;
    font-size: 1.5em;
    max-width: 550px;
  }
}
