.icon {
  fill: currentColor;
  display: inline-block;
  vertical-align: middle;
}

.icon {
  width: 24px;
  height: 24px;
}

.btn,
button {
  display: inline-block;
  border-radius: 3px;
  font-family: inherit;
  width: auto;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  line-height: 1;

  touch-action: manipulation;
  background-image: none;

  border-style: solid;
  border-width: 1px;

  &:focus,
  &:hover {
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

@mixin btn-solid($color) {
  .btn-solid-#{$color} {
    border-color: transparent;

    background-color: var(--button-color-#{$color});
    color: white;

    &:hover {
      background-color: var(--button-color-#{$color}--hover);
      color: white;
    }

    &:active {
      background-color: var(--button-color-#{$color});
      color: white;
    }
  }
}

@mixin btn-outline($color) {
  .btn-outline-#{$color} {
    border-color: var(--button-color-#{$color});
    color: var(--button-color-#{$color});
    background-color: transparent;

    &:hover {
      background-color: #8080801a;
      color: var(--button-color-#{$color}--hover)
    }

    &:active {
      background-color: transparent;
    }
  }
}

@mixin btn-link($color) {
  .btn-link-#{$color} {
    border-color: transparent;
    background-color: transparent;
    color: var(--button-color-#{$color});

    &:hover {
      text-decoration: underline;
      color: var(--button-color-#{$color}--hover);
    }

    &:active {
      color: var(--button-color-#{$color});
    }
  }
}

//sizes
.btn-sm {
  padding: 2px 5px;
  font-size: $font-size-7--mobile;

  @include md {
    font-size: $font-size-7--desktop;
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}

.btn-md {
  padding: 5px 12px;
  font-size: $font-size-6--mobile;

  @include md {
    font-size: $font-size-6--desktop;
  }

  .icon {
    width: 24px;
    height: 24px;
  }
}

.btn-lg {
  padding: 8px 20px;
  font-size: $font-size-5--mobile;

  @include md {
    font-size: $font-size-5--desktop;
  }

  .icon {
    width: 28px;
    height: 28px;
  }
}

.btn-icon {
  line-height: 0;

  &.btn-sm {
    padding: 2px;
  }
  &.btn-md {
    padding: 5px;
  }
  &.btn-lg {
    padding: 8px;
  }
}

// Button Group
.btn-group {
  .btn:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .btn:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .btn:not(:first-child) {
    margin-left: -1px;
  }

  display: flex;
  .btn-block {
    flex: 1;
  }
}

// utility
.btn-block {
  width: 100%;
}

@include btn-solid(primary);
@include btn-solid(default);
@include btn-solid(gray);
@include btn-solid(red);
@include btn-solid(green);
@include btn-solid(blue);

@include btn-outline(primary);
@include btn-outline(default);
@include btn-outline(gray);
@include btn-outline(red);
@include btn-outline(green);
@include btn-outline(blue);

@include btn-link(primary);
@include btn-link(default);
@include btn-link(gray);
@include btn-link(red);
@include btn-link(green);
@include btn-link(blue);

// toggl switch
$toggle-size: 10px;
$toggle-margin: 2px;
$toggle-background-height: $toggle-size + $toggle-margin * 2;
$toggle-background-width: $toggle-size * 2 + $toggle-margin * 3;

//The switch - the box around the slider
.toggle-switch {
  position: relative;
  display: flex;
  align-items: center;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  // The slider
  &__slider {
    //the border
    position: relative;
    cursor: pointer;
    background-color: var(--muted);
    transition: 0.3s;
    border-radius: $toggle-background-height / 2;
    width: $toggle-background-width;
    height: $toggle-background-height;

    //the circcle
    &:before {
      position: absolute;
      content: "";
      border-radius: $toggle-size/2;
      height: $toggle-size;
      width: $toggle-size;
      left: $toggle-margin;
      bottom: $toggle-margin;
      background-color: var(--background-color);
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
  }

  // input:checked + .toggle-switch__slider {
  //   background-color: var(--primary-color);
  //   border-color: var(--primary-color);
  // }
  
  input:checked + .toggle-switch__slider:before {
    left: $toggle-size + $toggle-margin * 2;
  }

  &__label {
    margin-left: 4px;
    line-height: 1.6;
    font-size: $font-size-6--mobile;
    @include md {
      font-size: $font-size-6--desktop;
    }
  }
}

@mixin toggle-switch($color) {
  .toggle-switch--#{$color} {
    input:checked + .toggle-switch__slider {
      background-color: var(--button-color-#{$color});;
      border-color: var(--button-color-#{$color});;
    }
  }
}


@include toggle-switch(primary);
@include toggle-switch(default);
@include toggle-switch(red);
@include toggle-switch(green);
@include toggle-switch(blue);