.icon {
  fill: currentColor;
  display: inline-block;
  vertical-align: middle;
}

.icon {
  width: 24px;
  height: 24px;
}

.btn,
button {
  display: inline-block;
  border-radius: 3px;
  font-family: inherit;
  width: auto;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  line-height: 1;

  touch-action: manipulation;
  background-image: none;

  border-style: solid;
  border-width: 1px;

  &:active,
  &:focus,
  &:hover {
    outline: none;
  }
}

@mixin btn-solid($color) {
  .btn-solid-#{$color} {
    border-color: transparent;

    background-color: var(--button-color-#{$color});
    color: white;

    &:active,
    &:hover {
      background-color: var(--button-color-#{$color}--active);
      color: white;
    }
  }
}

@mixin btn-outline($color) {
  .btn-outline-#{$color} {
    border-color: var(--button-color-#{$color});
    color: var(--button-color-#{$color});
    background-color: transparent;

    &:hover,
    &:active {
      border-color: var(--button-color-#{$color}--active);
      color: var(--button-color-#{$color}--active);
    }
  }
}

@mixin btn-link($color) {
  .btn-link-#{$color} {
    border-color: transparent;
    background-color: transparent;
    color: var(--button-color-#{$color});

    &:hover,
    &:active {
      color: var(--button-color-#{$color}--active);
      text-decoration: underline;
    }
  }
}

//sizes
.btn-sm {
  padding: 2px 5px;
  font-size: 1rem;
  .icon {
    width: 20px;
    height: 20px;
  }
}

.btn-md {
  padding: 5px 12px;
  font-size: 1.2rem;

  .icon {
    width: 24px;
    height: 24px;
  }
}

.btn-lg {
  padding: 8px 20px;
  font-size: 1.5rem;

  .icon {
    width: 28px;
    height: 28px;
  }
}

.btn-icon {
  line-height: 0;

  &.btn-sm {
    padding: 2px;
  }
  &.btn-md {
    padding: 5px;
  }
  &.btn-lg {
    padding: 8px;
  }
}

// utility
.btn-block {
  width: 100%;
}

@include btn-solid(default);
@include btn-solid(red);
@include btn-solid(green);
@include btn-solid(blue);

@include btn-outline(default);
@include btn-outline(red);
@include btn-outline(green);
@include btn-outline(blue);

@include btn-link(default);
@include btn-link(red);
@include btn-link(green);
@include btn-link(blue);

// toggl switch
$toggle-size: 12px;
$toggle-border-width: 1px;
$toggle-margin: 2px;
$toggle-background-height: $toggle-size + $toggle-border-width * 2 +
  $toggle-margin * 2;
$toggle-background-width: (
    $toggle-size + $toggle-border-width + $toggle-margin * 2
  ) * 2;

//The switch - the box around the slider
.switch {
  position: relative;
  display: inline-block;
  width: $toggle-background-width;
  height: $toggle-background-height;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  // The slider
  .slider {
    //the border
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background-color);
    transition: 0.4s;
    border-width: $toggle-border-width;
    border-color: var(--a__color);
    border-style: solid;
    border-radius: $toggle-background-height / 2;

    //the circcle
    &:before {
      position: absolute;
      content: "";
      border-radius: $toggle-size/2;
      height: $toggle-size;
      width: $toggle-size;
      left: $toggle-margin;
      bottom: $toggle-margin;
      background-color: var(--a__color);
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
  }

  input:checked + .slider {
    background-color: var(--a__color--active);
  }

  input:checked + .slider:before {
    left: $toggle-size + ($toggle-margin * 2) + $toggle-border-width * 2;
  }
}
