.dropdown {
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: var(--button-color-default);
  border-radius: 3px;
  line-height: 1;
  padding: 0;

  &:hover,
  &:active,
  &--active {
    box-shadow: 0px 0px 1px 1px var(--box-shadow__color);

    &::after {
      border-top-color: var(--button-color-default);
    }
  }

  &--disabled {
    opacity: 0.5;
    button:disabled {
      opacity: 1;
    }
  }

  &--disabled:hover,
  &--disabled:active {
    background-color: transparent;
    box-shadow: none;

    &::after {
      border-top-color: var(--muted);
    }
  }

  &__placeholder {
    color: var(--muted);
  }

  &--block {
    width: 100%;
  }

  &__input {
    background-color: transparent;
    border: 0px solid transparent;

    text-align: left;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color);
    width: 100%;

    &::after {
      display: block;
      content: "";
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid var(--muted);
      margin-left: 3px;
    }
  }

  &__menu {
    // reset
    list-style-type: decimal;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;

    // styling
    background-color: var(--background-color);
    display: grid;
    position: absolute;
    border-radius: 3px;
    box-shadow: 3px 3px 12px var(--box-shadow__color);
    margin-top: 1px;

    z-index: 1;
  }

  &__item {
    border: 0px;
    text-align: left;
    margin: 2px 0;
    color: var(--color);
    line-height: 1.6;
    background-color: transparent;

    &:hover {
      background-color: var(--muted);
    }

    &--active,
    &--active:hover {
      background-color: var(--primary-color);
      color: white;
    }
  }
}

.dropdown--sm {
  min-width: 80px;
  .dropdown__input {
    padding: 2px 5px;

    font-size: $font-size-7--mobile;
    @include md {
      font-size: $font-size-7--desktop;
    }

    &::after {
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid var(--muted);
    }
  }

  .dropdown__menu {
    padding: 2px 0;
  }

  .dropdown__item {
    padding: 2px 5px;
    font-size: $font-size-7--mobile;
    @include md {
      font-size: $font-size-7--desktop;
    }
  }
}

.dropdown--md {
  min-width: 100px;
  .dropdown__input {
    padding: 5px 12px;

    font-size: $font-size-6--mobile;
    @include md {
      font-size: $font-size-6--desktop;
    }

    &::after {
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid var(--muted);
    }
  }

  .dropdown__menu {
    padding: 5px 0;
  }

  .dropdown__item {
    padding: 4px 8px;

    font-size: $font-size-6--mobile;
    @include md {
      font-size: $font-size-6--desktop;
    }
  }
}

.dropdown--lg {
  min-width: 160px;
  .dropdown__input {
    padding: 8px 20px;

    font-size: $font-size-5--mobile;
    @include md {
      font-size: $font-size-5--desktop;
    }

    &::after {
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 7px solid var(--muted);
    }
  }

  .dropdown__menu {
    padding: 8px 0;
  }

  .dropdown__item {
    padding: 4px 8px;

    font-size: $font-size-5--mobile;
    @include md {
      font-size: $font-size-5--desktop;
    }
  }
}
