.footer {
  width: 100%;
  z-index: 300;
  margin-top: 3em;

  color: var(--footer__color);
  background-color: var(--footer__background-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;


  &__social {
    display: flex;
    justify-content: center;
    align-items: center;

    >* {
      margin: 0 5px;
    }
  }

  &__disclaimer{
    color: var(--muted);
    line-height: 3;
  }
}
