.four-oh-four {
  max-width: 1040px;
  margin: auto;

  display: grid;

  justify-content: center;

  h1,
  h3,
  p,
  div {
    padding: 0 1em;
    text-align: center;
  }

  img {
    max-width: 100%;
    height: intrinsic;
  }

  div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    > * {
      margin: 0.25em 0.5em;
    }
  }
}
