.main-header {
  background-color: var(--background-color);
  position: fixed;
  width: 100%;
  font-size: 28px;
  padding: 0.5em 0;
  transition: all 0.25s ease-in-out;
  z-index: 300;

  &--scroll {
    top: 0;
    box-shadow: 0 0 20px var(--box-shadow__color);
    font-size: 22px;
  }

  &__wrapper {
    max-width: 1200px;
    margin: auto;
    padding: 0 1em;
    display: flex;
    place-content: space-between;
    align-items: baseline;
  }

  &__logo {
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: 800;

    &:hover,
    &:active {
      color: var(--primary-color);
    }
  }

  &__nav {
    display: flex;

    > * {
      margin-left: 1em;
    }
  }

  //toggle-switch 

  .switch {
    place-self: center;

    input:checked + .slider {
      background-color: var(--a__background-color);
    }
  }
}

// this is a spacer hidden behind header so that on scroll, 
// so page content isnt affected by header shrinkage.

.header__pseudo {
  height: 100px;
  display: block;
}
