.main-header {
  background-color: white;
  position: fixed;
  width: 100%;
  font-size: 28px;
  padding: 0.5em 0;
  transition: all 0.25s ease-in-out;

  &--scroll {
    top: 0;
    box-shadow: 0 0 20px #0000001a;
    font-size: 22px;
  }

  &__wrapper {
    max-width: 1200px;
    margin: auto;
    padding: 0 1em;
    display: flex;
    place-content: space-between;
    align-items: baseline;
  }

  &__logo {
    color: $primary-color;
    text-transform: uppercase;
    font-size: 1.4em;
    &:hover,
    &:active {
      color: $primary-color;
    }
  }

  &__nav {
    display: flex;

    > a {
      margin-left: 1em;
    }

    .active {
      color: $primary-color;
    }
  }
}

// this is a spacer hidden behind header so that on scroll, 
// so page content isnt affected by header shrinkage.

.pseudo-header {
  height: 78px;
  display: block;
}
