.lightbox {
  &__button {
    cursor: pointer;
    img {
      max-width: 100%;
    }
  }

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10000;

  display: grid;
  height:100%;
  background-color:#000000c4;

  &__inner {
    place-self: center;
    img {
      max-width: 90vw;
      max-height: 90vh;
    }
  }
}
