.project {
  &__header {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1em;
  }

  &__header--image {
    width: 500px;
  }
}

.project {
  img {
    max-height: 100vh;
  }

  &__body {
    max-width: 1200px;
    margin: 0 auto;
  }

  &__section {
    max-width: 860px;
    margin: 0 auto 2em;
    padding: 0 1em;
  }
}

.iconography-header {
  display: grid;
  grid-gap: 2em;
  place-items: center;

  @include lg {
    grid-template-columns: 2fr 3fr;
  }

  svg {
    fill: currentColor;
    max-height: 400px;
  }
}

.iconography-grid {
  max-width: 800px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 24px;
  padding: 1em 0 2em;

  border-bottom: 1px solid gray;
  // border-radius: 12px;

  h3,
  p {
    grid-column: 1/-1;
    margin: 0;
  }

  &__icon {
    display: grid;
    align-items: flex-start;
    grid-template-rows: min-content;
    justify-items: center;
    text-align: center;

    .icon {
      height: 36px;
      width: 36px;
    }

    p {
      line-height: 1.4;
      font-weight: 300;
      font-size: 0.9em;
      margin: 0.75em 0;
    }
  }
}

.praise-hk {
  display: grid;
  max-width: 1000px;
  background-color: hsl(0, 0%, 96%);
  padding: 0;
  img {
    max-width: 100%;
    max-height: 100%;

    &:first-child {
      border-radius: 3px 3px 0 0;
    }

    &:last-child {
      border-bottom: 1px solid black;
    }
  }
}

.spooning-spoon {
  &__poster {
    display: flex;
    place-content: center;
  }

  &__definition {
    @include md {
      display: flex;
      flex-direction: row-reverse;
    }

    h4 {
      margin: 1em 0 0 0;
    }
  }
}
