.project-index {
  &__title {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  &__grid {
    max-width: 1200px;
    margin: 0 auto;

    display: grid;
    grid-gap: 4em;

    @include md {
      grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
      grid-gap: 2em;
    }
  }
}

.project-preview {
  display: grid;
  align-items: center;
  overflow: hidden;
  border-radius: 4px;
  transition: 0.25s ease-in-out;

  @include md {
    grid-template-rows: 1fr repeat(3, min-content) 1fr;
  }

  &__img {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
    img {
      width: 100%;
      place-self: center;
      z-index: 1;
    }
    @include md {
      grid-area: 1/1/6/2;
    }
  }

  &__link {
    grid-area: 1/1/5/2;
    width: 100%;
    height: 100%;
    z-index: 3;

    @include md {
      grid-area: 1/1/6/2;
    }
  }

  //background-color
  &::before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
    grid-area: 1/1/2/2;

    @include md {
      grid-area: 1/1/6/2;
    }
  }

  &:hover {
    h3,
    p {
      z-index: 2;
    }
    .project-preview__tags {
      z-index: 4;
    }

    @include md {
      //gray overlay
      &::after {
        display: block;
        content: "";
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.75;
        grid-area: 1/1/6/2;
        z-index: 1;
      }
    }
  }

  // text-overlay styling

  h3,
  p,
  &__tags {
    padding: 0 2em;
    grid-column: 1/2;
  }

  h3 {
    text-align: center;
    margin: 0.5em 0 0;
    grid-row: 2/3;

    @include md {
      color: white;
    }
  }

  p {
    grid-row: 3/4;

    @include md {
      color: white;
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    grid-row: 4/5;
    max-width: fit-content;

    a {
      text-transform: uppercase;
      margin-right: 0.5em;
      background: $lightgray;
      line-height: 1;
      padding: 3px 8px;
      border-radius: 3px;
      font-size: 0.7em;

      color: $text-color;
      font-weight: 700;
    }
  }
}
