.resume {
  max-width: 1200px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px 40px;

  @include md {
    grid-template-columns: 1fr 1fr;
  }

  @include lg {
    grid-template-columns: 200px 1fr 1fr;
  }

  &__logo {
    width: 50px;

    @include md {
      grid-column: 1/2;
    }

    @include lg {
      grid-column: 1/4;
    }
  }

  &__profile {
    h2 {
      margin: 0;
      font-size: 2.2em;
    }

    p {
      font-weight: 500;
      margin: 0;
    }

    @include md {
      grid-column: 1/3;
    }

    @include lg {
      grid-column: 1/2;
    }
  }

  &__section {
    //Work Experience Section
    margin-bottom: 2em;
  }

  h3 {
    // 'work Experience'
    font-size: 2.2em;
    font-weight: 500;

    margin: 0;
    color: var(--primary);
  }

  &__item {
    &--open,
    &--closed {
      cursor: pointer;

      .resume__content {
        transition: max-height 0.5s ease-in-out;
        overflow: hidden;
      }
    }
    &--closed {
      .resume__content {
        max-height: 0;
      }
    }
    &--open {
      .icon {
        transform: rotate(-180deg);
      }

      .resume__content {
        max-height: 2000px;
      }
    }
  }

  h4 {
    // 'Chronicle Books'
    margin: 0;
    margin-top: 0.5em;
    font-size: 1.2rem;
    font-weight: 700;
  }

  &__detail {
    // h5 - position + p - Year
    display: flex;
    align-content: center;

    h5,
    p {
      margin: 0;
      line-height: 1.6;
      font-weight: 400;
      font-size: 1rem;
    }

    p::before {
      content: "";
      margin: 0 0.25em;
      background-color: gray;
      height: 1px;
      width: 10px;
      display: inline-block;
      vertical-align: middle;
    }

    .icon {
      height: 18px;
      width: 18px;
      opacity: 0.4;
      margin-bottom: 3px;
      margin-left: 3px;
      place-self: flex-end;
      transition: transform 0.4s ease-in-out;
    }
  }

  &__content {
    //description
    span:not(:last-child)::after {
      content: "";
      background-color: gray;
      height: 2px;
      border-radius: 3px;
      width: 2px;
      display: inline-block;
      margin-bottom: -0.25em;

      margin: 0 0.5em;
      vertical-align: middle;
    }

    p {
      margin: 0.5em 0;
      line-height: 1.4;
      font-weight: 300;
      opacity: 0.8;

      &:last-child {
        margin-bottom: 1.5em;
      }
    }
  }
}
