.resume {
  max-width: 1200px;
  margin: 0 auto;

  @media screen and (min-width: 600px) {
    display: grid;
    grid-template-columns: 250px 1fr 1fr;
    grid-gap: 0 20px;
  }

  &__section {
    //Work Experience Section
    margin-bottom: 2em;
  }

  h3 {
    // 'work Experience'
    font-size: 2.2em;
    font-weight: 500;

    margin: 0;
    color: var(--primary-color);
  }

  &__item {
    // chronicle Books Block
  }

  h4 {
    // 'Chronicle Books'
    margin: 0;
    margin-top: 0.5em;
    font-size: 1.2rem;
    font-weight: 700;
  }

  &__detail {
    // h5 - position +  p - Year
    display: flex;
    align-content: center;

    h5,
    p {
      margin: 0;
      line-height: 1.6;
      font-weight: 400;
      font-size: 1rem;
    }

    p::before {
      content: "–";
      margin: 0 0.5em;
      font-weight: 300;

      // font-style: italic;
    }
  }

  &__content {
    //description
    span:not(:last-child)::after {
      content: "";
      background-color: gray;
      height: 2px;
      border-radius: 3px;
      width: 2px;
      display: inline-block;
      margin-bottom: -0.25em;

      margin: 0 0.5em;
      vertical-align: middle;
    }

    p {
      margin: 0.5em 0;
      line-height: 1.6;
      &:last-child {
        margin-bottom: 1.5em;
      }
    }
  }
}
