$primary-color: #00a1c2;
$text-color: #101c2e;

$lightgray: #d3d3d3;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

//scss variables
$a__color: #808080;

$light--red: #d22700;
$light--green: #0b910b;
$light--blue: #0529b8;

$light--background-color: #ffffff;
$light--color: #191a1b;
$light--a__color: darken($a__color, 20%);
$light--a__color--active: darken($a__color, 80%);
$light--box-shadow__color: #0000001a;

$light--button__color: #353535;
$light--button__background-color: lightGray;
$light--button__border-color: gray;

$dark--primary: #00a1c2;
$dark--red: #f7382b;
$dark--green: #2daf21;
$dark--blue: #2744ec;

$dark--background-color: #191a1b;
$dark--color: #e9e9e9;
$dark--a__color: lighten($a__color, 40%);
$dark--a__color--active: lighten($a__color, 80%);
$dark--box-shadow__color: #00000080;

$dark--button__color: #353535;
$dark--button__background-color: darkGray;
$dark--button__border-color: gray;

//ccss custom vars
.app {
  --primary-color: #{$primary-color};
  --red: #{$light--red};
  --green: #{$light--green};
  --blue: #{$light--blue};

  --color: #{$light--color};
  --background-color: #{$light--background-color};
  --box-shadow__color: #{$light--box-shadow__color};
  
  --a__color: #{$light--a__color};
  --a__color--active: #{$light--a__color--active};

  --button__color: #{$light--button__color};
  --button__background-color: #{$light--button__background-color};
  --button__border-color: #{$light--button__border-color};
}

.app.dark {
  --primary-color: #{$dark--primary};
  --red: #{$dark--red};
  --green: #{$dark--green};
  --blue: #{$dark--blue};

  --color: #{$dark--color};
  --background-color: #{$dark--background-color};
  --box-shadow__color: #{$dark--box-shadow__color};

  --a__color: #{$dark--a__color};
  --a__color--active: #{$dark--a__color--active};

  --button__color: #{$dark--button__color};
  --button__background-color: #{$dark--button__background-color};
  --button__border-color: #{$dark--button__border-color};
}
