$primary-color: #00a1c2;
$text-color: #101c2e;
$muted-color: #808080;
$lightgray: #d3d3d3;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

//scss variables
$a__color: #808080;
$muted__color: #808080;

//==============colors for light==============
$light--primary: #00a1c2;
$light--red: #f33207;
$light--green: #009c00;
$light--blue: #0033ff;
$light--muted: lighten($muted__color, 30%);

//base
$light--background-color: #ffffff;
$light--color: #191a1b;
$light--a__color: darken($a__color, 20%);
$light--a__color--active: $light--primary;
$light--box-shadow__color: #0000001a;
$light--header__background-color: $light--background-color;

//button
$light--button-color-primary: $light--primary;
$light--button-color-primary--active: darken($light--primary, 10%);
$light--button-color-default: $light--a__color;
$light--button-color-default--active: darken($light--a__color, 10%);
$light--button-color-red: $light--red;
$light--button-color-red--active: darken($light--red, 10%);
$light--button-color-green: $light--green;
$light--button-color-green--active: darken($light--green, 10%);
$light--button-color-blue: $light--blue;
$light--button-color-blue--active: darken($light--blue, 10%);

//==============colors for dark==============
$dark--primary: #00a1c2;
$dark--red: #f7382b;
$dark--green: #2daf21;
$dark--blue: #2744ec;
$dark--muted: darken($muted__color, 30%);

//base
$dark--background-color: #191a1b;
$dark--color: #e9e9e9;
$dark--a__color: lighten($a__color, 40%);
$dark--a__color--active: $dark--primary;
$dark--box-shadow__color: #00000080;
$dark--header__background-color: lighten($dark--background-color, 20%);

//button
$dark--button-color-primary: $dark--primary;
$dark--button-color-primary--active: darken($dark--primary, 5%);
$dark--button-color-default: $dark--a__color;
$dark--button-color-default--active: darken($dark--a__color, 5%);;
$dark--button-color-red: $dark--red;
$dark--button-color-red--active: lighten($dark--red, 5%);
$dark--button-color-green: $dark--green;
$dark--button-color-green--active: lighten($dark--green, 5%);
$dark--button-color-blue: $dark--blue;
$dark--button-color-blue--active: lighten($dark--blue, 5%);

//==============css custom vars==============
.app {
  --primary-color: #{$light--primary};
  --red: #{$light--red};
  --green: #{$light--green};
  --blue: #{$light--blue};
  --muted: #{$light--muted};

  --color: #{$light--color};
  --background-color: #{$light--background-color};
  --box-shadow__color: #{$light--box-shadow__color};
  --header__background-color: #{$light--background-color};

  --a__color: #{$light--a__color};
  --a__color--active: #{$light--a__color--active};

  --button-color-primary: #{$light--button-color-primary};
  --button-color-primary--active: #{$light--button-color-primary--active};
  --button-color-default: #{$light--button-color-default};
  --button-color-default--active: #{$light--button-color-default--active};
  --button-color-red: #{$light--button-color-red};
  --button-color-red--active: #{$light--button-color-red--active};
  --button-color-green: #{$light--button-color-green};
  --button-color-green--active: #{$light--button-color-green--active};
  --button-color-blue: #{$light--button-color-blue};
  --button-color-blue--active: #{$light--button-color-blue--active};
}

.app.dark {
  --primary-color: #{$dark--primary};
  --red: #{$dark--red};
  --green: #{$dark--green};
  --blue: #{$dark--blue};
  --muted: #{$dark--muted};

  --color: #{$dark--color};
  --background-color: #{$dark--background-color};
  --box-shadow__color: #{$dark--box-shadow__color};
  --header__background-color: #{$dark--background-color};

  --a__color: #{$dark--a__color};
  --a__color--active: #{$dark--a__color--active};

  --button-color-primary: #{$dark--button-color-primary};
  --button-color-primary--active: #{$dark--button-color-primary--active};
  --button-color-default: #{$dark--button-color-default};
  --button-color-default--active: #{$dark--button-color-default--active};
  --button-color-red: #{$dark--button-color-red};
  --button-color-red--active: #{$dark--button-color-red--active};
  --button-color-green: #{$dark--button-color-green};
  --button-color-green--active: #{$dark--button-color-green--active};
  --button-color-blue: #{$dark--button-color-blue};
  --button-color-blue--active: #{$dark--button-color-blue--active};
}
